{
	order netlify_redirects before redir
}

:80 {
    # Sample config for a gatsby website that uses a netlify plugin to generate the _redirects file
    encode gzip
	root * /srv
	file_server

	netlify_redirects {
		/about-us /contact
		/url/too/long/* /shortened/:splat

		import /path/to/_netlify
	}
}
