{
	order netlify_redirects before redir
}

:80 {
    # Sample config for a gatsby website that uses a netlify plugin to generate the _redirects file
    encode gzip
	root * /srv
	file_server

    # Remove trailing slash for the try_files
    uri * strip_suffix /
    try_files {path} {path}/ {dir}/index.html /index.html

    handle_errors {
        rewrite * /{http.error.status_code}.html
        file_server
    }

	netlify_redirects {
		/about-us /contact
		/url/too/long/* /shortened/:splat

		import /path/to/_redirects*
	}
}
