{
	admin off
	auto_https off
	order netlify_redirects before redir
}

:2021 {
	log
	try_files {path} /
    encode gzip
	root * /srv
	file_server

	netlify_redirects {
		/about-us /contact
		/url/too/long/* /shortened/:splat
	}
}
